@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Forcing dark mode variables by default */
    --background: 224 71% 4%; /* #030712 */
    --foreground: 210 40% 98%;
    
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
  
  /* Custom Scrollbar for a polished feel */
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #030712;
  }
  ::-webkit-scrollbar-thumb {
    background: #1F2937;
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #38BDF8;
  }
}